*{
    font-family: sans-serif;
}
body{
    margin: 0px;
    background-color: rgb(19, 19, 19);
    background: url(black.jpg)  bottom;
}
.container{
    text-align: center;
    width: 70%;
    margin: 0 auto;
    
}    
p{
    color: white;
    background-color: none;
}

h1{
    color: white;
    background-color: black;
    padding: 20px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 80px;
    border-bottom: 5px solid white;
}
h2{
    color: white;
}
#row{
    color: white;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
   
.key{
    background-color: #333;
    border: 10px solid white;
    border-radius: 15px;
    padding: 20px;
    min-width: 80px;
    text-align: center;
    transition: all 1.0s;
}
.playing{
    background-color: tomato;
    transform: scale(1.1);
    box-shadow: 0px 0px 50px rgba(255, 99, 71, 0.445);
}
.key:hover{
    background-color: black;
    transform: scale(1.1);
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.829);
}

.textBox{
    background-color: black;
    border-radius: 15px;
    padding: 15px;
}